@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';
@import '../../components/search-form/search-form.1024.scss';

.index-hero {
  margin-bottom: 130px;
  &__inner {
    padding: 95px 0 86px;
  }

  &__title {
    font-size: 55px;
  }

  &__subtitle {
    margin-top: 20px;
  }

  &__img {

    &-left {
      width: 261px;
    }

    &-right {
      max-width: 382px;
    }
  }

  .search-form {
    max-width: 855px;
  }
}