@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';
@import '../../components/search-form/search-form.scss';
// @import '../about-company/about-company.scss';

.index-hero {
  padding-top: 30px;
  // margin-bottom: 145px;
  margin-bottom: 185px;

  &__inner {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-transform: uppercase;
    font: 700 36px/130% $secondFont;
    text-align: center;
    color: $darkGreen;
  }

  &__subtitle {
    position: relative;
    display: block;
    max-width: 280px;
    margin: 15px auto 0;
    text-align: center;
    font: 400 16px/130% $mainFont;
    color: $darkGreen;
    z-index: 2;
  }

  &__img {
    display: block;

    &-left {
      display: none;
    }

    &-right {
      max-width: 420px;
      margin: 0 auto;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .search-form {
    margin: 40px auto -185px;
    position: relative;
    z-index: 10;
  }
}