@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.request-popup {
  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    font-size: 16px;
  }

  &__form-wrapper {

    .field {
      margin-bottom: 30px;
    }
  }
}