@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';
@import '../../components/search-form/search-form.1024.scss';

.all-excursions {
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 80px;

  &__title {
    max-width: 674px;
    font-size: 30px;
  }

  .search-form {
    max-width: 855px;
  }
}