@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

body.page-template-about,
body.single-excursion,
body.page-template-taxonomy-tours_type {
  .hdr {
    background-color: $white;
  }
}

.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

  &__link {
    width: 65px;
    height: 75px;
    margin-right: auto;
    transition: opacity .25s;

    &:hover {
      opacity: .7;
    }
  }

  &__logo {
    width: 100%;
    object-fit: contain;
  }

  &__nav {
    margin: 0 auto;
    display: none;

    &-list {
      display: flex;
      flex-flow: column;
      text-transform: uppercase;
      font: 700 14px/130% $mainFont;
      color: $black;
    }

    &-li {
      position: relative;
      transition: color .25s;

      &:hover {
        color: $darkGreen;
      }

      &.current {
        color: $darkGreen;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 1px;
          background: $darkGreen;
        }
      }
    }
  }

  &__mob-tel,
  &__tel {
    display: flex;
    align-items: center;
    font: 700 16px/130% $mainFont;
    color: $darkGreen;
    transition: color .15s;

    &:hover {
      color: $yellow;

      &::before {
        filter: invert(54%) sepia(12%) saturate(3789%) hue-rotate(356deg) brightness(149%) contrast(84%);
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 6px;
      background: url('../img/icons/phone.svg') center/contain no-repeat;
      transition: filter .15s;
    }
  }

  &__mob-tel {
    margin-top: 30px;
  }

  &__tel {
    display: none;
  }

  &__burger {
    width: 31px;
    height: 19px;
    margin-left: auto;
    background: url('../img/icons/burger.svg') no-repeat center/contain;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 11;

    .hdr {
      &__link {
        width: 30px;
        height: 30px;
      }

      &__burger {
        width: 25px;
        height: 15px;
      }
    }
  }
}

// .hdr__burger {
//   display: inline-flex;
//   transition: opacity .15s linear;
//   background: 0 0;
//   border: 0;
//   overflow: visible;
//   transition: transform .5s;
//   z-index: 3;
//   font-size: 5.145px; // Для контроля размеров

//   &-box {
//     display: inline-block;
//     flex-shrink: 0;
//     width: 4.2em;
//     height: 2.835em;
//     position: relative;
//     pointer-events: none;
//   }

//   &-inner {
//     display: block;
//     width: 100%;
//     height: 1px;
//     position: absolute;
//     top: 8.625px;
//     background: $black;
//     transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;

//     &::after,
//     &::before {
//       content: '';
//       display: block;
//       width: 100%;
//       height: 100%;
//       position: absolute;
//       background: linear-gradient(to top, $black, $black) right/100% no-repeat;
//       border-radius: inherit;
//     }

//     &::after {
//       bottom: -1.25em; // 6px
//       transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
//     }

//     &::before {
//       top: -1.2em; // 6px
//       background-position: left;
//       transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
//     }
//   }

//   &.active {
//     .hdr__burger-inner {
//       transform: rotate(90deg);
//       background-color: transparent !important;
//       transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;

//       &::before {
//         top: 0;
//         transform: rotate(-45deg);
//         background-size: 100%;
//         transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
//       }

//       &::after {
//         bottom: 0;
//         transform: rotate(45deg);
//         background-size: 100%;
//         transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
//       }
//     }
//   }
// }