$lightBlue: #e5f0f2;
$blue: #b2d2dd;
$darkGreen: #2b4758;
$beige: #f2dcca;
$brown: #d8a387;
$yellow: #f1af63;
$orange: #D8762D;
$light: #fcfaf9;
$white: #fff;
$black: #05090c;
$gray: #9c9b9b;
$gray2: #6F6F6F;
$error: rgb(200, 79, 79);