@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.filters {
  font: 400 14px/130% $mainFont;

  &-mob-menu {
    padding: 50px 20px 20px;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: $white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    transition: top .5s;
    z-index: 999;

    &.open {
      top: 0;
    }

    &__title {
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &__close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &-open-mob-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $darkGreen;
    margin-right: auto;

    &::before {
      content: '';
      display: inline-block;
      width: 23px;
      height: 19px;
      margin-right: 10px;
    }

    &.lazyloaded {
      &::before {
        background: url('../img/icons/filters.svg');
      }
    }
  }

  &-accept-btn {
    margin-top: 40px;
    width: 100%;
  }

  &-reset-btn {
    font-size: 12px;
    color: $darkGreen;
    text-decoration: underline;

    &:focus-visible {
      outline: 1px dotted $darkGreen;
    }

    &-mob {
      margin-top: 20px;
    }
  }

  &-bar {
    display: flex;
    margin-bottom: 10px;
  }

  &-list {
    display: flex;
    flex-flow: wrap;
  }

  &-item {
    font-size: 14px;
    padding: 8px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid $darkGreen;
    transition: background .25s,
                color .25s;

    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;

    &:focus-visible {
      outline: 1px dotted $darkGreen;
    }

    &::after {
      content: '\00D7';
      font-size: 0;
      margin-left: 0;
      transition: font-size .25s,
                  margin-left .25s;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &-desk {
      display: none;
    }

    &.active {
      display: flex;
      background-color: $darkGreen;
      color: $white;

      &::after {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  &__sort-by {
    display: flex;
    margin-top: 20px;

    &[hidden] {
      visibility: hidden;
    }

    .tail-select {
      max-width: 200px;
      margin-left: auto;
      font-size: 12px;

      .select-label {
        height: auto;
        padding: 10px 30px 10px 10px;

        &::after {
          width: 13px;
          height: 13px;
          right: 5px;
          bottom: 10px;
        }
      }
    }
  }
}

.display-excursions {
  &__list {
    display: flex;
    flex-flow: column;

    &-item {
      max-width: 380px;
      margin: 20px auto 0;

      &.hidden {
        display: none;
      }
    }
  }

  &__no-results,
  &__filters-no-results {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: $black;

    svg {
      width: 50px;
      height: 50px;
    }

    &-link,
    .filters-reset-btn {
      display: inline-block;
      margin-top: 10px;
      color: $darkGreen;
      text-decoration: underline;
    }

    .filters-reset-btn {
      font-size: 16px;
    }
  }
}