@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.filters {
  &-item {
    font-size: 16px;
  }
}

.display-excursions {
  &__list {
    margin-right: -30px;

    &-item {
      width: calc((100% - 90px) / 3);
      margin-right: 30px;

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}